.page {
    margin: 0 auto;
    max-width: 1152px;
    margin-top: 120px;
    padding: 0px 24px;
}

.footer {
    display: inherit;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 52px;
}

@media (max-width: 767px) {
    .page {
        margin-bottom: 120px;
        margin-top: 24px;
    }

    .footer {
        display: none;
    }
}
